[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even
	branch = master
[submodule "themes/yinyang"]
	path = themes/yinyang
	url = git@github.com:manualbashing/hugo-theme-yinyang.git
	branch = master
